---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="cowboy.dev"
  description="hexcowboy - a fullstack and lead engineer for web3 projects"
>
  <h1 class="text-center font-bold">hexcowboy</h1>
  <p class="text-center">Roaming the frontier of the decentralized web.</p>

  <div>
    <div class="flex justify-between">
      <h2 class="font-bold">direct contact</h2>
      <p>
        (<a href="mailto:hex@cowboy.dev">email</a>, <a
          href="https://discord.com/users/418557177825853443">discord</a
        >)
      </p>
    </div>
    <div class="flex justify-between">
      <h2 class="font-bold">social</h2>
      <p>(<a href="https://twitter.com/hexcowboy">twitter</a>)</p>
    </div>
    <div class="flex justify-between">
      <h2 class="font-bold">software</h2>
      <p>(<a href="https://github.com/hexcowboy">github</a>)</p>
    </div>
  </div>

  <h2 class="font-bold">Skills</h2>
  <ul>
    <li>Typescript</li>
    <ul>
      <li>React</li>
      <li>Nextjs</li>
    </ul>
    <li>Rust</li>
    <li>Golang</li>
    <li>Solidity</li>
  </ul>

  <h2 class="font-bold">Professional Teams</h2>
  <ul>
    <li>
      <a href="https://www.megavoltcorp.com/">megavolt</a> - lead engineer
    </li>
    <li><a href="https://zerodev.app/">zerodev</a> - founding engineer</li>
    <li><a href="https://eternal.gg/">eternal.gg</a> - lead engineer</li>
  </ul>

  <h2 class="font-bold">Projects and Contributions</h2>
  <ul>
    <li>
      <a href="https://github.com/turbo-eth/template-disco-app">turbo-eth</a> (ts)
      - disco and ceramic integrations for DID and VC gating
    </li>
    <li>
      <a href="https://github.com/foundry-rs/forge-std/pull/270">forge-std</a> (sol)
      - forge cheatcode for solidity testing
    </li>
    <li>
      <a href="https://github.com/hexcowboy/rslock">rslock</a> (rs) - a rust implementation
      of redis redlock
    </li>
    <li>
      <a
        href="https://github.com/calcom/cal.com/pulls?q=is%3Apr+author%3Ahexcowboy+sort%3Acomments-desc"
        >cal.com</a
      > (ts) - web3 wallet integrations and token-gated meetings
    </li>
    <li>
      <a href="https://github.com/hexcowboy/stetson">stetson</a> (rs) - a pure rust
      pubsub server
    </li>
    <li>
      <a
        href="https://github.com/wagmi-dev/viem/pulls?q=is%3Apr+author%3Ahexcowboy"
        >viem</a
      > (ts) - an ethereum interface library
    </li>
  </ul>
  <pre
    class="text-neutral-500">
//                   @
//                    )
//                   ( _m_
//                    \ " /,~~.
//                     `(''/.\)
//                      .&gt;' (_--,
//                   _=/d  . ^\
//                  ~' \)-'   '
//                    // |'
  </pre>
</Layout>
