---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-black dark:text-white">
    <main class="flex min-h-screen flex-col items-center font-mono">
      <div class="flex max-w-sm flex-col gap-4 p-8 sm:px-0">
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  ul {
    margin-left: 1rem;
    list-style: disc;
  }

  a {
    color: blue;
  }

  @media (prefers-color-scheme: dark) {
    a {
      color: red;
    }
  }
</style>
